body {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-left: 0px;
  margin: 0px;
  font-family: Karla, monospace;
}

object {
  width: 600px;
  height: 500px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 700px;
  height: 500px;
  display: flex;
  align-items: stretch;
  border: 1px solid #2f2d2d;
  background-color: #fdfcfc;
}

.nav {
  padding-top: 20px;
  margin-top: 0px;
  flex: 1.1;
  color: #2f2d2d;
  background-color: #d9c7c6;
  font-size: 14px;
}

.resume {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex: 5;
  overflow-y: auto;
  color: #2f2d2d;
}

ul {
  margin-left: 0px;
  padding: 0px;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
  color: #2f2d2d;
  cursor: crosshair;
}

.nav a:hover {
  color: #fdfcfc;
}
